---
layout: publication
title: Publication
---
<p><br></p>

    <div class="container">
        <div class="row">
            <h2>2019</h2>
            <hr>
            {% for post in site.posts %}
              {%if post.year == 2019 %}

                <a class="fa fa-plus fa-3x" aria-hidden="true" type="button" data-toggle="collapse" href="#{{post.title}}" role="button" aria-expanded="false" aria-controls="links" >
                </a>
                        <div class="portfolio-caption">
                            <h4 style="color:black;">{{ post.title }}</h4>
                            <p class="text-muted">{{ post.subtitle }}</p>
                            <p><strong>Author</strong> {{post.author}}</p>
                            <p> <strong>Date </strong>{{ post.project-date }}</p>
                        </div>
                         <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" href="#links-{{post.title}}" role="button" aria-expanded="false" aria-controls="links">
                            links
                        </button>

                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#bibtex-{{post.title}}" aria-expanded="false" aria-controls="bibtex">
                            Bibtex
                        </button>
                        </p>

                        <div class="collapse" id="links-{{post.title}}">
                            <div class="card card-body">
                                {% for id in post.links %}
                                <div>
                                    <a href={{id}}> {{id}}</a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="collapse" id="bibtex-{{post.title}}">
                            <div class="card card-body">
                                {{post.BibTex}}
                            </div>
                        </div>

                <div class="collapse" id="{{post.title}}">
                    <div class="card card-body">
                        <div>

                            <p>{{ post.description }}</p>

                        </div>

                    </div>
                </div>
            <hr>
              {% endif %}
            {% endfor %}
            </div>

    </div>

<div class="container">
    <div class="row">
        <h2>2018</h2>
        <hr>
        {% for post in site.posts %}
        {%if post.year == 2018 %}

        <a class="fa fa-plus fa-3x" aria-hidden="true" type="button" data-toggle="collapse" href="#{{post.title}}" role="button" aria-expanded="false" aria-controls="links" >
        </a>
        <div class="portfolio-caption">
            <h4 style="color:black;">{{ post.title }}</h4>
            <p class="text-muted">{{ post.subtitle }}</p>
            <p><strong>Author</strong> {{post.author}}</p>
            <p> <strong>Date </strong>{{ post.project-date }}</p>
        </div>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" href="#links-{{post.title}}" role="button" aria-expanded="false" aria-controls="links">
                links
            </button>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#bibtex-{{post.title}}" aria-expanded="false" aria-controls="bibtex">
                Bibtex
            </button>
        </p>

        <div class="collapse" id="links-{{post.title}}">
            <div class="card card-body">
                {% for id in post.links %}
                <div>
                    <a href={{id}}> {{id}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="collapse" id="bibtex-{{post.title}}">
            <div class="card card-body">
                {{post.BibTex}}
            </div>
        </div>

        <div class="collapse" id="{{post.title}}">
            <div class="card card-body">
                <div>

                    <p>{{ post.description }}</p>

                </div>

            </div>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
    </div>

</div>




